<ion-grid>
  <ion-row>
    <ion-grid>
      <ion-row class="firstRow">
        <ion-col>
          <div>
            <img
              rel="icon"
              class="ion-float-left"
              style="width: 27px; height: 28px"
              src="../../assets/icon/Img/Ellipse 191.png"
            />
            <div class="para">
              <span style="font-size: 12px; line-height: 14px"> Joe_ring </span>
              <span
                style="
                  font-size: 10px;
                  line-height: 12px;
                  flex-direction: row;
                  justify-content: center;
                  align-items: center;
                  padding: 2px 5px;
                  gap: 4px;
                  width: 27px;
                  height: 16px;
                  background: rgba(255, 255, 255, 0.12);
                  border-radius: 4px;
                "
              >
                77%
              </span>
              <div style="font-size: 10px; line-height: 12px; padding-top: 5px">
                il y a 3 heurs . 7 matches
              </div>
            </div>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <ion-buttons class="ion-float-right">
              <ion-button>
                <ion-icon name="ellipsis-vertical-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-padding">
        <ion-col>
          <div>
            <span>Indice de confiance</span>
            <div style="display: flex">
              <div
                style="
                  width: 119.4px;
                  height: 27px;
                  background: rgba(48, 31, 107, 0.2);
                  border-radius: 4px;
                "
              >
                <div
                  style="
                    width: 89.72px;
                    height: 27px;
                    background: #301f6b;
                    border-radius: 0px 0px 4px 4px;
                  "
                ></div>
              </div>
              <span
                style="
                  font-size: 16px;
                  line-height: 19px;
                  color: #301f6b;
                  margin: 5px;
                "
                >7</span
              >
            </div>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <span>Meilleur cote combinée </span>
            <div
              style="
                position: absolute;
                width: 116px;
                height: 27px;
                background: #eeeff2;
                border-radius: 4px;
              "
            >
              <div
                style="
                  position: absolute;
                  width: 30px;
                  height: 27px;
                  left: 90px;
                  background: url(../../assets/icon/Img/FDJ_ICON_1.png);
                  border-radius: 0px 4px 4px 0px;
                "
              ></div>
            </div>
          </div>
        </ion-col>
      </ion-row>
      <ion-grid>
        <ion-row>
          <ion-grid
            style="background: rgba(255, 255, 255, 0.5); border-radius: 14px;"
          >
            <ion-row>
              <ion-grid>
                <ion-row>
                  <ion-col
                    ><div style="display: inline-flex">
                      <div
                        style="
                          background: url(../../assets/icon/Img/FootIcon.png);
                          width: 12px;
                          height: 12px;
                          margin: 0 3px 3px 0;
                        "
                      ></div>
                      <span
                        style="
                          font-weight: 700;
                          font-size: 12px;
                          line-height: 14px;
                          color: #0a012a;
                        "
                        >Olympique Marseille / PARIS-SAINT-GERMAIN</span
                      >
                    </div></ion-col
                  >
                </ion-row>
                <ion-row>
                  <ion-col
                    ><div
                      style="
                        font-weight: 400;
                        font-size: 10px;
                        line-height: 12px;
                        text-align: left;
                        color: #757087;
                      "
                    >
                      UEFA Ligue des Champions
                    </div></ion-col
                  >
                  <ion-col
                    ><div
                      style="
                        font-weight: 400;
                        font-size: 10px;
                        line-height: 12px;
                        text-align: left;
                        color: #757087;
                      "
                    >
                      14/06 - 21:00
                    </div></ion-col
                  >
                </ion-row>
                <ion-row>
                  <ion-col
                    ><div
                      style="
                        font-weight: 400;
                        font-size: 10px;
                        line-height: 12px;
                        color: #0a012a;
                      "
                    >
                      Buteur :
                    </div>
                    <div
                      style="
                        font-weight: 500;
                        font-size: 12px;
                        line-height: 14px;
                        color: #11d095;
                      "
                    >
                      Mbappé
                    </div></ion-col
                  >
                  <ion-col>
                    <div
                      style="
                        width: 50px;
                        height: 25px;
                        background: #dddee5;
                        border-radius: 2px 0px 0px 2px;
                        text-align: center;
                        padding-top: 5px;
                      "
                    >
                      <div
                        style="
                          position: absolute;
                          width: 29px;
                          height: 25px;
                          left: 50px;
                          top:4.25px;
                          background: url(../../assets/icon/Img/betclicsquare1.png);
                          border-radius: 0px 4px 4px 0px;
                        "
                      ></div>
                      <span
                        style="
                          font-style: normal;
                          font-weight: 500;
                          font-size: 12px;
                          line-height: 14px;
                          color: #0cc48b;
                          
                        "
                        >2.05</span
                      >
                    </div></ion-col
                  >
                </ion-row>
              </ion-grid>
            </ion-row>

            <ion-row>
              <ion-grid>
                <ion-row>
                  <ion-col
                    ><div style="display: inline-flex">
                      <div
                        style="
                          background: url(../../assets/icon/Img/🎾.png);
                          width: 12px;
                          height: 12px;
                          margin: 0 3px 3px 0;
                        "
                      ></div>
                      <span
                        style="
                          font-weight: 700;
                          font-size: 12px;
                          line-height: 14px;
                          color: #0a012a;
                        "
                        >Bublik Alexander / Medvedev Daniil</span
                      >
                    </div></ion-col
                  >
                </ion-row>
                <ion-row>
                  <ion-col
                    ><div
                      style="
                        font-weight: 400;
                        font-size: 10px;
                        line-height: 12px;
                        text-align: left;
                        color: #757087;
                      "
                    >
                      ATP - Internationaux de France
                    </div></ion-col
                  >
                  <ion-col
                    ><div
                      style="
                        font-weight: 400;
                        font-size: 10px;
                        line-height: 12px;
                        text-align: left;
                        color: #757087;
                      "
                    >
                      14/06 - 14:00
                    </div></ion-col
                  >
                </ion-row>
                <ion-row>
                  <ion-col
                    ><div
                      style="
                        font-weight: 400;
                        font-size: 10px;
                        line-height: 12px;
                        color: #0a012a;
                      "
                    >
                      Nombre de jeux :
                    </div>
                    <div
                      style="
                        font-weight: 500;
                        font-size: 12px;
                        line-height: 14px;
                        color: #e52c41;
                      "
                    >
                      Plus de 27.5
                    </div></ion-col
                  >
                  <ion-col>
                    <div
                      style="
                        width: 50px;
                        height: 25px;
                        background: #dddee5;
                        border-radius: 2px 0px 0px 2px;
                        text-align: center;
                        padding-top: 5px;
                      "
                    >
                      <div
                        style="
                          position: absolute;
                          width: 29px;
                          height: 25px;
                          left: 50px;
                          top: 5px;
                          background: url(../../assets/icon/Img/1094px-Logo_Winamax2.png);
                          border-radius: 0px 4px 4px 0px;
                        "
                      ></div>
                      <span
                        style="
                          font-style: normal;
                          font-weight: 500;
                          font-size: 12px;
                          line-height: 14px;
                          color: #e52c41;
                        "
                        >3.25</span
                      >
                    </div></ion-col
                  >
                </ion-row>
              </ion-grid>
            </ion-row>

            <ion-row>
              <ion-grid>
                <ion-row>
                  <ion-col
                    ><div style="display: inline-flex">
                      <div
                        style="
                          background: url(../../assets/icon/Img/🏀.png);
                          width: 12px;
                          height: 12px;
                          margin: 0 3px 3px 0;
                        "
                      ></div>
                      <span
                        style="
                          text-transform: uppercase;
                          font-weight: 700;
                          font-size: 12px;
                          line-height: 14px;
                          color: #0a012a;
                        "
                        >Washington Wizards / Philadelphie 76ers</span
                      >
                    </div></ion-col
                  >
                </ion-row>
                <ion-row>
                  <ion-col
                    ><div
                      style="
                        font-weight: 400;
                        font-size: 10px;
                        line-height: 12px;
                        text-align: left;
                        color: #757087;
                      "
                    >
                      Etats Unis - NBA
                    </div></ion-col
                  >
                  <ion-col
                    ><div
                      style="
                        font-weight: 400;
                        font-size: 10px;
                        line-height: 12px;
                        text-align: left;
                        color: #757087;
                      "
                    >
                      15/06 - 01:00
                    </div></ion-col
                  >
                </ion-row>
                <ion-row>
                  <ion-col
                    ><div
                      style="
                        font-weight: 400;
                        font-size: 10px;
                        line-height: 12px;
                        color: #0a012a;
                      "
                    >
                      Victoire finale :
                    </div>
                    <div
                      style="
                        font-weight: 500;
                        font-size: 12px;
                        line-height: 14px;
                        color: #11d095;
                      "
                    >
                      Philadelphie 76ers
                    </div></ion-col
                  >
                  <ion-col>
                    <div
                      style="
                        width: 50px;
                        height: 25px;
                        background: #dddee5;
                        border-radius: 2px 0px 0px 2px;
                        text-align: center;
                        padding-top: 5px;
                      "
                    >
                      <div
                        style="
                          position: absolute;
                          width: 29px;
                          height: 25px;
                          left: 50px;
                          top: 4px;
                          background: url(../../assets/icon/Img/bwinBLACK.png);
                          border-radius: 0px 4px 4px 0px;
                        "
                      ></div>
                      <span
                        style="
                          font-style: normal;
                          font-weight: 500;
                          font-size: 12px;
                          line-height: 14px;
                          color: #0cc48b;
                        "
                        >2.05</span
                      >
                    </div></ion-col
                  >
                </ion-row>
              </ion-grid>
            </ion-row>
            <ion-row>
              <ion-col>
                <div
                  style="
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 14px;
                    color: #0a012a;
                  "
                >
                  Tout voir
                  <ion-icon
                    style="color: black; font-size: 13px"
                    name="chevron-down-outline"
                  ></ion-icon></div
              ></ion-col>
            </ion-row>
          </ion-grid>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-buttons class="ion-float-left">
            <ion-button>
            <ion-icon class="icon-footer-post" name="heart-outline"></ion-icon
            ><span class="fouter-post">416</span></ion-button></ion-buttons>
            <ion-col>
              <ion-buttons class="ion-float-left">
                <ion-button>
                  <ion-icon class="icon-footer-post" name="chatbox-outline"
                    >32</ion-icon
                  ><span class="fouter-post">32</span></ion-button
                ></ion-buttons
              ></ion-col
            >
            <ion-col>
              <ion-buttons class="ion-float-left">
                <ion-button>
                  <ion-icon
                    class="icon-footer-post"
                    name="share-outline"
                  ></ion-icon></ion-button></ion-buttons
            ></ion-col>
          </ion-col>

          <ion-col class="ion-align-self-end">
            <ion-buttons class="ion-float-right">
              <ion-button>
                <ion-icon
                  class="icon-footer-post"
                  name="copy-outline"
                ></ion-icon
                ><span class="fouter-post">Copier</span>
              </ion-button>
            </ion-buttons></ion-col
          >
        </ion-row>
      </ion-grid>
    </ion-grid>
  </ion-row>
  <ion-row>
    <ion-grid>
      <ion-row class="firstRow">
        <ion-col>
          <div>
            <img
              rel="icon"
              class="ion-float-left"
              style="width: 27px; height: 28px"
              src="../../assets/icon/Img/Ellipse 191.png"
            />
            <div class="para">
              <span style="font-size: 12px; line-height: 14px"> Joe_ring </span>
              <span
                style="
                  font-size: 10px;
                  line-height: 12px;
                  flex-direction: row;
                  justify-content: center;
                  align-items: center;
                  padding: 2px 5px;
                  gap: 4px;
                  width: 27px;
                  height: 16px;
                  background: rgba(255, 255, 255, 0.12);
                  border-radius: 4px;
                "
              >
                77%
              </span>
              <div style="font-size: 10px; line-height: 12px; padding-top: 5px">
                il y a 3 heurs . 7 matches
              </div>
            </div>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <ion-buttons class="ion-float-right">
              <ion-button>
                <ion-icon name="ellipsis-vertical-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-padding">
        <ion-col>
          <div>
            <span>Indice de confiance</span>
            <div style="display: flex">
              <div
                style="
                  width: 119.4px;
                  height: 27px;
                  background: rgba(48, 31, 107, 0.2);
                  border-radius: 4px;
                "
              >
                <div
                  style="
                    width: 89.72px;
                    height: 27px;
                    background: #301f6b;
                    border-radius: 0px 0px 4px 4px;
                  "
                ></div>
              </div>
              <span
                style="
                  font-size: 16px;
                  line-height: 19px;
                  color: #301f6b;
                  margin: 5px;
                "
                >7</span
              >
            </div>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <span>Meilleur cote combinée </span>
            <div
              style="
                position: absolute;
                width: 116px;
                height: 27px;
                background: #eeeff2;
                border-radius: 4px;
              "
            >
              <div
                style="
                  position: absolute;
                  width: 30px;
                  height: 27px;
                  left: 90px;
                  background: url(../../assets/icon/Img/FDJ_ICON_1.png);
                  border-radius: 0px 4px 4px 0px;
                "
              ></div>
            </div>
          </div>
        </ion-col>
      </ion-row>
      <ion-grid>
        <ion-row>
          <ion-grid
            style="background: rgba(255, 255, 255, 0.5); border-radius: 14px"
          >
            <ion-row>
              <ion-grid>
                <ion-row>
                  <ion-col
                    ><div style="display: inline-flex">
                      <div
                        style="
                          background: url(../../assets/icon/Img/FootIcon.png);
                          width: 12px;
                          height: 12px;
                          margin: 0 3px 3px 0;
                        "
                      ></div>
                      <span
                        style="
                          font-weight: 700;
                          font-size: 12px;
                          line-height: 14px;
                          color: #0a012a;
                        "
                        >Olympique Marseille / PARIS-SAINT-GERMAIN</span
                      >
                    </div></ion-col
                  >
                </ion-row>
                <ion-row>
                  <ion-col
                    ><div
                      style="
                        font-weight: 400;
                        font-size: 10px;
                        line-height: 12px;
                        text-align: left;
                        color: #757087;
                      "
                    >
                      UEFA Ligue des Champions
                    </div></ion-col
                  >
                  <ion-col
                    ><div
                      style="
                        font-weight: 400;
                        font-size: 10px;
                        line-height: 12px;
                        text-align: left;
                        color: #757087;
                      "
                    >
                      14/06 - 21:00
                    </div></ion-col
                  >
                </ion-row>
                <ion-row>
                  <ion-col
                    ><div
                      style="
                        font-weight: 400;
                        font-size: 10px;
                        line-height: 12px;
                        color: #0a012a;
                      "
                    >
                      Buteur :
                    </div>
                    <div
                      style="
                        font-weight: 500;
                        font-size: 12px;
                        line-height: 14px;
                        color: #11d095;
                      "
                    >
                      Mbappé
                    </div></ion-col
                  >
                  <ion-col>
                    <div
                      style="
                        width: 50px;
                        height: 25px;
                        background: #dddee5;
                        border-radius: 2px 0px 0px 2px;
                        text-align: center;
                        padding-top: 5px;
                      "
                    >
                      <div
                        style="
                          position: absolute;
                          width: 29px;
                          height: 25px;
                          left: 50px;
                          top: 5px;
                          background: url(../../assets/icon/Img/betclicsquare1.png);
                          border-radius: 0px 4px 4px 0px;
                        "
                      ></div>
                      <span
                        style="
                          font-style: normal;
                          font-weight: 500;
                          font-size: 12px;
                          line-height: 14px;
                          color: #0cc48b;
                        "
                        >2.05</span
                      >
                    </div></ion-col
                  >
                </ion-row>
              </ion-grid>
            </ion-row>

            <ion-row>
              <ion-grid>
                <ion-row>
                  <ion-col
                    ><div style="display: inline-flex">
                      <div
                        style="
                          background: url(../../assets/icon/Img/🎾.png);
                          width: 12px;
                          height: 12px;
                          margin: 0 3px 3px 0;
                        "
                      ></div>
                      <span
                        style="
                          font-weight: 700;
                          font-size: 12px;
                          line-height: 14px;
                          color: #0a012a;
                        "
                        >Bublik Alexander / Medvedev Daniil</span
                      >
                    </div></ion-col
                  >
                </ion-row>
                <ion-row>
                  <ion-col
                    ><div
                      style="
                        font-weight: 400;
                        font-size: 10px;
                        line-height: 12px;
                        text-align: left;
                        color: #757087;
                      "
                    >
                      ATP - Internationaux de France
                    </div></ion-col
                  >
                  <ion-col
                    ><div
                      style="
                        font-weight: 400;
                        font-size: 10px;
                        line-height: 12px;
                        text-align: left;
                        color: #757087;
                      "
                    >
                      14/06 - 14:00
                    </div></ion-col
                  >
                </ion-row>
                <ion-row>
                  <ion-col
                    ><div
                      style="
                        font-weight: 400;
                        font-size: 10px;
                        line-height: 12px;
                        color: #0a012a;
                      "
                    >
                      Nombre de jeux :
                    </div>
                    <div
                      style="
                        font-weight: 500;
                        font-size: 12px;
                        line-height: 14px;
                        color: #e52c41;
                      "
                    >
                      Plus de 27.5
                    </div></ion-col
                  >
                  <ion-col>
                    <div
                      style="
                        width: 50px;
                        height: 25px;
                        background: #dddee5;
                        border-radius: 2px 0px 0px 2px;
                        text-align: center;
                        padding-top: 5px;
                      "
                    >
                      <div
                        style="
                          position: absolute;
                          width: 29px;
                          height: 25px;
                          left: 50px;
                          top: 5px;
                          background: url(../../assets/icon/Img/1094px-Logo_Winamax2.png);
                          border-radius: 0px 4px 4px 0px;
                        "
                      ></div>
                      <span
                        style="
                          font-style: normal;
                          font-weight: 500;
                          font-size: 12px;
                          line-height: 14px;
                          color: #e52c41;
                        "
                        >3.25</span
                      >
                    </div></ion-col
                  >
                </ion-row>
              </ion-grid>
            </ion-row>

            <ion-row>
              <ion-grid>
                <ion-row>
                  <ion-col
                    ><div style="display: inline-flex">
                      <div
                        style="
                          background: url(../../assets/icon/Img/🏀.png);
                          width: 12px;
                          height: 12px;
                          margin: 0 3px 3px 0;
                        "
                      ></div>
                      <span
                        style="
                          text-transform: uppercase;
                          font-weight: 700;
                          font-size: 12px;
                          line-height: 14px;
                          color: #0a012a;
                        "
                        >Washington Wizards / Philadelphie 76ers</span
                      >
                    </div></ion-col
                  >
                </ion-row>
                <ion-row>
                  <ion-col
                    ><div
                      style="
                        font-weight: 400;
                        font-size: 10px;
                        line-height: 12px;
                        text-align: left;
                        color: #757087;
                      "
                    >
                      Etats Unis - NBA
                    </div></ion-col
                  >
                  <ion-col
                    ><div
                      style="
                        font-weight: 400;
                        font-size: 10px;
                        line-height: 12px;
                        text-align: left;
                        color: #757087;
                      "
                    >
                      15/06 - 01:00
                    </div></ion-col
                  >
                </ion-row>
                <ion-row>
                  <ion-col
                    ><div
                      style="
                        font-weight: 400;
                        font-size: 10px;
                        line-height: 12px;
                        color: #0a012a;
                      "
                    >
                      Victoire finale :
                    </div>
                    <div
                      style="
                        font-weight: 500;
                        font-size: 12px;
                        line-height: 14px;
                        color: #11d095;
                      "
                    >
                      Philadelphie 76ers
                    </div></ion-col
                  >
                  <ion-col>
                    <div
                      style="
                        width: 50px;
                        height: 25px;
                        background: #dddee5;
                        border-radius: 2px 0px 0px 2px;
                        text-align: center;
                        padding-top: 5px;
                      "
                    >
                      <div
                        style="
                          position: absolute;
                          width: 29px;
                          height: 25px;
                          left: 50px;
                          top: 5px;
                          background: url(../../assets/icon/Img/bwinBLACK.png);
                          border-radius: 0px 4px 4px 0px;
              
                          
                        "
                      ></div>
                      <span
                        style="
                          font-style: normal;
                          font-weight: 500;
                          font-size: 12px;
                          line-height: 14px;
                          color: #0cc48b;
                        "
                        >2.05</span
                      >
                    </div></ion-col
                  >
                </ion-row>
              </ion-grid>
            </ion-row>
            <ion-row>
              <ion-col>
                <div
                  style="
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 14px;
                    color: #0a012a;
                  "
                >
                  Tout voir
                  <ion-icon
                    style="color: black; font-size: 13px"
                    name="chevron-down-outline"
                  ></ion-icon></div
              ></ion-col>
            </ion-row>
          </ion-grid>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-buttons class="ion-float-left">
            <ion-button>
            <ion-icon class="icon-footer-post" name="heart-outline"></ion-icon
            ><span class="fouter-post">416</span></ion-button></ion-buttons>
            <ion-col>
              <ion-buttons class="ion-float-left">
                <ion-button>
                  <ion-icon class="icon-footer-post" name="chatbox-outline"
                    >32</ion-icon
                  ><span class="fouter-post">32</span></ion-button
                ></ion-buttons
              ></ion-col
            >
            <ion-col>
              <ion-buttons class="ion-float-left">
                <ion-button>
                  <ion-icon
                    class="icon-footer-post"
                    name="share-outline"
                  ></ion-icon></ion-button></ion-buttons
            ></ion-col>
          </ion-col>

          <ion-col >
            <ion-buttons class="ion-float-right">
              <ion-button>
                <ion-icon
                  class="icon-footer-post"
                  name="copy-outline"
                ></ion-icon
                ><span class="fouter-post">Copier</span>
              </ion-button>
            </ion-buttons></ion-col
          >
        </ion-row>
      </ion-grid>
    </ion-grid>
  </ion-row>
  
</ion-grid>
