
<ion-content [fullscreen]="true" >

      <div>
        <section class="pitch">
          <div class="field left">
            <div class="penalty-area"></div>
          </div>
          <div class="field right">
            <div class="top-penalty-area"></div>
          </div>
          <div class="center-line"></div>
          <div class="center-circle"></div>
          <div class="home-team">
            <div class="home-team-logo">
              <img
                src="../../assets/icon/Img/image 9.png"
                style="width: 17px; height: 20px"
                alt=""
              />
            </div>
            <div class="home-team-plan">5-4-1</div>
            <div class="home-team-Coache">
              <span
                style="
                  font-weight: 400;
                  font-size: 8px;
                  line-height: 9px;
                  background: rgba(25, 34, 44, 0.5);
                  border-radius: 8px;
                  color: white;
                "
                >Rudi Garcia</span
              >
            </div>
            <div class="player one">Lopes</div>
            <div class="player two">Marcelo</div>
            <div class="player three">Diomande</div>
            <div class="player four">Cornet</div>
            <div class="player five">Dubois</div>
            <div class="player six">Aouar</div>
            <div class="player seven">Mendes</div>
            <div class="player eight">Paqueta</div>
            <div class="player nine">Ekambi</div>
            <div class="player ten">Depay </div>
            <div class="player eleven">Kadewere</div>
          </div>
          <div class="visitor-team">
            <div class="visitor-team-logo">
              <img
                src="../../assets/icon/Img/Ellipse 29.png"
                style="width: 17px; height: 20px"
                alt=""
              />
            </div>
            <div class="visitor-team-plan">4-4-2</div>
            <div class="visitor-team-Coache">
              <span
                style="
                  font-weight: 400;
                  font-size: 8px;
                  line-height: 9px;
                  background: rgba(25, 34, 44, 0.5);
                  border-radius: 8px;
                  color: white;
                "
                >Christophe Galtier</span
              >
            </div>
            <div class="player one">Maignan</div>
            <div class="player two">Fonte</div>
            <div class="player three">Botman</div>
            <div class="player four">Mandava</div>
            <div class="player five">Celik</div>
            <div class="player six">Araujo</div>
            <div class="player seven">André</div>
            <div class="player eight">Sanches</div>
            <div class="player nine">Bamba</div>
            <div class="player ten">Ylmaz</div>
            <div class="player eleven">Ikonév</div>
          </div>
          <ion-icon class="zoom" name="move-outline"></ion-icon>
        </section>
      </div>
  
</ion-content>
